:root {
    --primary: #6C23E9;
    --secondary: #ff5722;
    --success: #4caf50;
    --info: #00bcd4;
    --warning: #ff9800;
    --danger: #f44336;
    --light: #FFFFFF;
    --gray: #f1f0f0;
    /* --gray: #f7f4fc; */
    --dark: #212121;
    --black:#2B2C2E;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.bg-white{
    background-color: var(--light) !important;
}
.bg-gray{
    background-color: var(--gray) !important;
}

.text-white{
    color: white !important;
}

.bg-success{
    background-color: var(--success);
}

.bg-warning{
    background-color: var(--warning);
}